root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space

[*.yaml]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[*.cfg]
indent_style = space
indent_size = 4
